// GLOBAL VARIABLES - include your variables here or alter the
// predefined vars.
// Changes to these variables will alter ALL flavors EXCEPT css.
// If you wish to override for any given flavor, please edit the vars
// partial in that flavor.

// background vars
$background-color: #fff; // default background color

// GENERAL
$use-global-border-box: true; // use global border box?
$use-rem: true; // use rem as default unit?
$use-em: false; // use em as default unit?
$use-percent: false; // use percentage as default unit?
$use-px-fallback: true; // allow for pixel fall back

// GRID
// $base-width: 960px;  // The overall width of the grid (.container)
$is-fluid: false; // Change to true to enable the fluid grid
$base-col-width: 60px; // The width of each columns
$base-gutter-width: 20px; // The space between columns
$base-col-count: 12; // The number of columns
$base-width: if($is-fluid, 98%, ($base-col-width + $base-gutter-width) * $base-col-count); // Calculated

// BREAKPOINTS
$tablet-width: 960px; // the tablet width media query
$mobile-portrait-width: 300px; // the mobile portrait media query
$mobile-landscape-width: 420px; // the mobile landscape media query
$mobile-fluid-width: 100%; // this value is not used with breakpoints, it is used in generating a fluid grid for mobile devices

// ------ CHANGE MAY CAUSE UNDESIRED RESULTS
$base-font-size: 10px; // the font size in the html element so we can use ems and rems in a friendly way
