// ==========================================================================
// Base Styles
// ==========================================================================

.homepage-fullscreen {
  .callout {
    text-align: center;
    display: block;
    width: 100%;
  }
}
